/***************************************************************************************************/
/************************************* Estilos del IHTT  -  RAM ************************************/
/***************************************************************************************************/
body {
	background-color: var(--main_color_bg_body);
}

/* menu privilegios */
.dropdown-menu {
	--bs-dropdown-zindex: 1000;
	--bs-dropdown-min-width: 10rem;
	--bs-dropdown-padding-x: 0;
	--bs-dropdown-padding-y: 0.5rem;
	--bs-dropdown-spacer: 0.125rem;
	--bs-dropdown-font-size: 1rem;
	--bs-dropdown-color: var(--bs-gobierno1) !important;
	--bs-dropdown-bg: var(--bs-body-bg);
	--bs-dropdown-border-color: var(--bs-border-color-translucent);
	--bs-dropdown-border-radius: var(--bs-border-radius);
	--bs-dropdown-border-width: var(--bs-border-width);
	--bs-dropdown-inner-border-radius: calc(var(--bs-border-radius) - var(--bs-border-width));
	--bs-dropdown-divider-bg: var(--bs-border-color-translucent);
	--bs-dropdown-divider-margin-y: 0.5rem;
	--bs-dropdown-box-shadow: var(--bs-box-shadow);
	--bs-dropdown-link-color: var(--bs-body-color);
	--bs-dropdown-link-hover-color: var(--bs-body-color);
	--bs-dropdown-link-hover-bg: var(--bs-tertiary-bg);
	--bs-dropdown-link-active-color: #fff;
	--bs-dropdown-link-active-bg: #0d6efd;
	--bs-dropdown-link-disabled-color: var(--bs-tertiary-color);
	--bs-dropdown-item-padding-x: 1rem;
	--bs-dropdown-item-padding-y: 0.25rem;
	--bs-dropdown-header-color: #6c757d;
	--bs-dropdown-header-padding-x: 1rem;
	--bs-dropdown-header-padding-y: 0.5rem;
	position: absolute;
	z-index: var(--bs-dropdown-zindex);
	display: none;
	min-width: var(--bs-dropdown-min-width);
	padding: var(--bs-dropdown-padding-y) var(--bs-dropdown-padding-x);
	margin: 0;
	font-size: var(--bs-dropdown-font-size);
	color: var(--bs-dropdown-color);
	text-align: left;
	list-style: none;
	background-color: var(--bs-dropdown-bg);
	background-clip: padding-box;
	border: var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color);
	border-radius: var(--bs-dropdown-border-radius);
}

dropdown-item:focus,
.dropdown-item:hover {
	color: var(--bs-gobierno2) !important;
	background-color: var(--bs-gobierno4) !important;
}

.nav-link {
	display: block;
	padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
	font-size: var(--bs-nav-link-font-size);
	font-weight: var(--bs-nav-link-font-weight);
	color: var(--bs-dropdown-color);
	background-color: var(--bs-dropdown-color) !important;
	text-decoration: none;
	background: 0 0;
	border: 0;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.fondoMenuPrivilegio {
	background-color: #88cfe0 !important;
}

.pagination {
	--bs-pagination-padding-x: 0.65rem !important;
	--bs-pagination-padding-y: 0.155rem !important;
	--bs-pagination-font-size: 1rem;
	--bs-pagination-color: var(--bs-link-color);
	--bs-pagination-bg: var(--bs-body-bg);
	--bs-pagination-border-width: var(--bs-border-width);
	--bs-pagination-border-color: var(--bs-border-color);
	--bs-pagination-border-radius: var(--bs-border-radius);
	--bs-pagination-hover-color: var(--bs-link-hover-color);
	--bs-pagination-hover-bg: var(--bs-tertiary-bg);
	--bs-pagination-hover-border-color: var(--bs-border-color);
	--bs-pagination-focus-color: var(--bs-link-hover-color);
	--bs-pagination-focus-bg: var(--bs-secondary-bg);
	--bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
	--bs-pagination-active-color: #fff;
	--bs-pagination-active-bg: #0d6efd;
	--bs-pagination-active-border-color: #0d6efd;
	--bs-pagination-disabled-color: var(--bs-secondary-color);
	--bs-pagination-disabled-bg: var(--bs-secondary-bg);
	--bs-pagination-disabled-border-color: var(--bs-border-color);
	list-style: none;
}

.navbar {
	--bs-navbar-padding-x: 0;
	--bs-navbar-padding-y: 0rem;
	--bs-navbar-color: rgba(var(--bs-emphasis-color-rgb), 0.65);
	--bs-navbar-hover-color: rgba(var(--bs-emphasis-color-rgb), 0.8);
	--bs-navbar-disabled-color: rgba(var(--bs-emphasis-color-rgb), 0.3);
	--bs-navbar-active-color: rgba(var(--bs-emphasis-color-rgb), 1);
	--bs-navbar-brand-padding-y: 0.3125rem;
	--bs-navbar-brand-margin-end: 1rem;
	--bs-navbar-brand-font-size: 1.25rem;
	--bs-navbar-brand-color: rgba(var(--bs-emphasis-color-rgb), 1);
	--bs-navbar-brand-hover-color: rgba(var(--bs-emphasis-color-rgb), 1);
	--bs-navbar-nav-link-padding-x: 0.5rem;
	--bs-navbar-toggler-padding-y: 0.25rem;
	--bs-navbar-toggler-padding-x: 0.75rem;
	--bs-navbar-toggler-font-size: 1.25rem;
	--bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
	--bs-navbar-toggler-border-color: rgba(var(--bs-emphasis-color-rgb), 0.15);
	--bs-navbar-toggler-border-radius: var(--bs-border-radius);
	--bs-navbar-toggler-focus-width: 0.25rem;
	--bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
}

.navbar-brand {
	padding-top: var(--bs-navbar-brand-padding-y);
	padding-bottom: var(--bs-navbar-brand-padding-y);
	margin-right: var(--bs-navbar-brand-margin-end);
	font-size: var(--bs-navbar-brand-font-size);
	color: var(--bs-navbar-brand-color);
	background-color: var(--bs-gobierno) !important;
	text-decoration: none;
	white-space: nowrap;
}

/* boton del menu hamburguesa */
.navbar-toggler {
	padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
	font-size: var(--bs-navbar-toggler-font-size);
	line-height: 1;
	color: #a94442;
	background-color: transparent;
	border: var(--bs-border-width) solid #a94442;
	border-radius: var(--bs-navbar-toggler-border-radius);
	transition: var(--bs-navbar-toggler-transition);
}

.navbar-toggler:hover {
	text-decoration: none;
	/* background-color: #949699 */
}

.navbar-toggler:focus {
	text-decoration: none;
	outline: 0;
	box-shadow: 0 0 0 var(--bs-navbar-toggler-focus-width);
}

li {
	list-style: none;
}

/* iconos */
/* .fas, .fa-stroopwafel{
	
} */

.table-unbordered th,
.table-unbordered td {
	border: 0px solid #ddd !important;
}

@font-face {
	font-family: 'Glyphicons Halflings';
	src: url('../fonts/glyphicons-halflings-regular.eot');
	src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/glyphicons-halflings-regular.woff') format('woff'),
		url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'),
		url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.glyphicon {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* .table-unbordered th,.table-unbordered td{border:0px solid #ddd!important}}@font-face{font-family:'Glyphicons Halflings';src:url(../fonts/glyphicons-halflings-regular.eot);src:url(../fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'),url(../fonts/glyphicons-halflings-regular.woff) format('woff'),url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'),url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')}.glyphicon{position:relative;top:1px;display:inline-block;font-family:'Glyphicons Halflings';font-style:normal;font-weight:400;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:bluescale} */
.centrar {
	vertical-align: middle;
}

.full-width-tabs>ul.nav.nav-tabs {
	display: table;
	/* width: 100%;
	table-layout: fixed; */
	/* To make all "columns" equal width regardless of content */
}

.full-width-tabs>ul.nav.nav-tabs>li {
	float: none;
	display: table-cell;
}

.full-width-tabs>ul.nav.nav-tabs>li>a {
	text-align: center;
}

.deshabilitar_entradas {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.logo_bg {
	background-image: url("../images/logofoot.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.logo {
	border: 2px solid var(--bs-gobierno2);
	border-radius: 5px;
	margin: 3px;
	box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
}

.label-error {
	color: #a20906;
	font-size: 14px;
	font-weight: bold;
}

.text-error {
	border: #a20906 solid 3px;
	color: #a94442;
	box-shadow: 0 4px 8px rgba(182, 32, 32, 0.844);
}

.espacio_izquierda112 {
	position: fixed;
	left: 112px;
}

.espacio_izquierda224 {
	position: fixed;
	left: 224px;
}

.pantalla_al_top {
	top: 0px;
}

.rotulo_pantalla {
	position: relative;
}

.bg_botones {
	position: relative;
}

.detalle_pantalla {
	position: relative;
}

.pantalla {
	position: relative;
}

.pantalla_lista {
	position: relative;
}

.rotulo_pantalla_lista {
	position: relative;
}

.bg_botones_lista {
	position: relative;
}

.bg_paginacion_lista {
	position: relative;
	left: 50%;
}

.pantalla_inicio_clave {
	position: relative;
	top: 0px;
}

.pantalla_inicio {
	position: relative;
}

.hidden {
	display: none;
}

.bottom {
	position: absolute;
	bottom: 0px;
}

.contentcopeco {
	margin: 0px auto;
	text-align: center;
}

.contentcopeco img {
	vertical-align: middle;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 0px) and (max-width: 768px) {
	.footer_content {
		position: fixed;
		left: 0px;
		bottom: 0px;
		height: 35px;
		width: 100%;
		background-color: var(--main_color_navbar_link);
		color: var(--main_color_bg_navbar);
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 769px) {
	.footer_content {
		display: none;
	}
}

#footer {
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 35px;
	width: 100%;
	background-color: var(--main_color_navbar_link);
	color: var(--main_color_bg_navbar);
}

#footer a {
	color: #FFF;
	text-decoration: underline;
	font-family: Tahoma, Arial, Verdana;
	font-size: 13px;
	font-weight: bold;
}

#footer a:hover {
	font-family: Tahoma, Arial, Verdana;
	font-size: 14.5px;
	font-weight: bold;
	font-variant: small-caps;
	text-decoration: underline;
	color: #FF6;
}

.footer_table {
	border: 1px solid #c5dbec;
	/*background: url(../images/backgroundnegro.jpg);*/
	font-weight: bold;
	color: #fff;
	font-size: 13px;
	font-variant: small-caps;
	text-align: center;
}

/* Für ie6*/
/* * html #footer{
    position:absolute;
    top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
} */
html,
body {
	height: 100%;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #f1f1f1;
	/* Color de fondo opcional */
	text-align: center;
	/* Centrado de contenido opcional */
}

.gy_cuadro_buscar {
	/*background-color:  var(--main_color_sombra_boton_primary);*/
	position: relative;
	top: -12px;
	background-size: auto;
	background-image: url("../images/inmuebles/1/gladiola-facahda.jpeg");
}

.btn-custom-primary {
	background-color: var(--main_color_bg_boton_primary);
	color: var(--main_color_text_boton_primary);
	border: 4px solid var(--main_color_boder_boton_primary);
	font-variant: small-caps;
}

.btn-custom-primary:hover {
	background-color: var(--main_color_bg_hover_botom_primary);
	color: var(--main_color_hover_text_boton_primary);
	border: 4px solid var(--main_color_hover_border_boton_primary);
	-webkit-box-shadow: 12px 12px 5px -3px var(--main_color_hover_sombra_boton_primary);
	-moz-box-shadow: 12px 12px 5px -3px var(--main_color_hover_sombra_boton_primary);
	box-shadow: 12px 12px 5px -3px var(--main_color_hover_sombra_boton_primary);
	font-variant: small-caps;
}

.btn-custom-primary:focus,
.btn-custom-primary.focus {
	background-color: var(--main_color_bg_hover_botom_primary);
	color: var(--main_color_hover_text_boton_primary);
	border: 4px solid var(--main_color_hover_border_boton_primary);
	-webkit-box-shadow: 12px 12px 5px -3px var(--main_color_hover_sombra_boton_primary);
	-moz-box-shadow: 12px 12px 5px -3px var(--main_color_hover_sombra_boton_primary);
	box-shadow: 12px 12px 5px -3px var(--main_color_hover_sombra_boton_primary);
	font-variant: small-caps;
}

.btn-custom-secondary {
	background-color: var(--main_color_bg_boton_secondary);
	color: var(--main_color_text_boton_secondary);
	border: 4px solid var(--main_color_boder_boton_secondary);
	font-variant: small-caps;
}

.btn-custom-secondary:hover {
	background-color: var(--main_color_bg_hover_botom_secondary);
	color: var(--main_color_hover_text_boton_secondary);
	border: 4px solid var(--main_color_hover_border_boton_secondary);
	-webkit-box-shadow: 12px 12px 5px -3px var(--main_color_hover_sombra_boton_secondary);
	-moz-box-shadow: 12px 12px 5px -3px var(--main_color_hover_sombra_boton_secondary);
	box-shadow: 12px 12px 5px -3px var(--main_color_hover_sombra_boton_secondary);
	font-variant: small-caps;
}

.btn-custom-secondary:focus,
.btn-custom-secondary.focus {
	background-color: var(--main_color_bg_hover_botom_secondary);
	color: var(--main_color_hover_text_boton_secondary);
	border: 4px solid var(--main_color_hover_border_boton_secondary);
	-webkit-box-shadow: 12px 12px 5px -3px var(--main_color_hover_sombra_boton_secondary);
	-moz-box-shadow: 12px 12px 5px -3px var(--main_color_hover_sombra_boton_secondary);
	box-shadow: 12px 12px 5px -3px var(--main_color_hover_sombra_boton_secondary);
	font-variant: small-caps;
}

/*Inicio colores de texto */
.gy_ctb {
	color: var(--main_color_texto_body);
}

.gy_ctnv {
	color: var(--main_color_texto_navbar);
}

.gy_ctrt {
	color: var(--main_color_texto_rotulo);
}

.gy_ctlbt {
	color: var(--main_color_texto_botones);
}

.gy_ctdt {
	color: var(--main_color_texto_detalle);
}

.gy_ctbp {
	color: var(--main_color_text_boton_primary);
}

.gy_ctbs {
	color: var(--main_color_text_boton_secondary);
}

.gy_link {
	color: var(--main_color_link);
}

.gy_link_visited {
	color: var(--main_color_link_visited);
}

.gy_link_hover {
	color: var(--main_color_link_hover);
}

.gy_link_active {
	color: var(--main_color_link_hover);
}

.gy_link_navbar {
	color: var(--main_color_navbar_link);
}

.gy_link_navbar_visited {
	color: var(--main_color_navbar_link_visited);
}

.gy_link_navbar_hover {
	color: var(--main_color_navbar_link_hover);
}

.gy_link_navbar_active {
	color: var(--main_color_navbar_link_active);
}

/*Final colores de links */
/*Inicio colores para texto*/
.gy_cbg_body {
	color: var(--main_color_bg_body);
}

.gy_cbg_rotulo {
	color: var(--main_color_bg_rotulo);
}

.gy_cbg_botones {
	color: var(--main_color_bg_linea_botones);
}

.gy_cbg_detalle {
	color: var(--main_color_bg_detalle);
}

.gy_cbgbt_primary {
	color: var(--main_color_bg_boton_primary);
}

.gy_cbgbt_secondary {
	color: var(--main_color_bg_boton_secondary);
}

.gy_cbg_navbar {
	color: var(--main_color_bg_navbar);
}

.gy_cbg_navbar_dwd {
	color: var(--main_color_bg_navbar_dwd);
}

/* Final colores para texto*/
/*Inicio BACKGROUND:COLOR para texto*/
.gy_bg_body {
	background-color: var(--main_color_bg_body);
}

.gy_bg_rotulo {
	background-color: var(--main_color_bg_rotulo);
}

.gy_bg_botones {
	background-color: var(--main_color_bg_linea_botones);
}

.gy_bg_detalle {
	background-color: var(--main_color_bg_detalle);
}

.gy_bg_primary {
	background-color: var(--main_color_bg_boton_primary);
}

.gy_bg_secondary {
	background-color: var(--main_color_bg_boton_secondary);
}

.gy_bg_navbar {
	background-color: var(--main_color_bg_navbar);
}

.gy_bg_navbar_dwd {
	background-color: var(--main_color_bg_navbar_dwd);
}

.gy_bg_link_navbar {
	color: var(--main_color_navbar_link);
}

.gy_navbar {
	color: var(--main_color_navbar_link);
	background-color: var(--main_color_bg_navbar);
	;
}

.border_navbar_link {
	border: 2px solid var(--main_color_bg_navbar);
}

/* Final colores para texto*/
.gy_rotulo_pantalla {
	border-top: 3pt solid var(--main_color_navbar_link);
	border-bottom: 3pt solid var(--main_color_bg_detalle);
	font-size: 14px;
	height: 50px;
	color: var(--main_color_texto_rotulo);
	background: var(--main_color_bg_rotulo);
}

.gy_barra_botones {
	height: 50px;
	border-bottom: 3pt solid var(--main_color_texto_detalle);
	color: var(--main_color_texto_botones);
	background: var(--main_color_bg_linea_botones);
}

.gy_detalle_pantalla {
	height: 35px;
	border-bottom: 4pt solid var(--main_color_bg_rotulo);
	color: var(--main_color_texto_detalle);
	background: var(--main_color_bg_detalle);
}

/* Links*/
a:link {
	font-family: 'Open Sans Semi-Bold', sans-serif;
	color: var(--main_color_link);
	font-weight: 900;
	font-size: 1rem;
}

/* visited link */
a:visited {
	color: var(--main_color_link);
	font-weight: 900;
	font-size: 1rem;
}

/* mouse over link */
a:hover {
	color: var(--main_color_link_hover);
	font-weight: 900;
	font-size: 1rem;
}

/* selected link */
a:active {
	color: var(--main_color_link_hover);
	font-weight: 900;
	font-size: 1rem;
}

footer {
	color: var(--main_color_dwd_link);
	background-size: contain;
	background-position: center;
	/*background-attachment: fixed;*/
	background-repeat: no-repeat;
	margin: 20px 20px 20px 20px;
}

footer p {
	color: var(--main_color_footer_link);
	padding: 10px 0px;
	margin: 20px;
}

.copyright-txt {
	background-color: var(--main_color_footer_link);
	margin-top: 40px;
}

/* Links on footer*/
footer ul li a:link {
	font-family: 'Open Sans Extra-Bold', sans-serif;
	color: var(--main_color_footer_link);
}

/* visited link */
footer ul li a:visited {
	color: var(--main_color_footer_link_visited);
}

/* mouse over link */
footer ul li a:hover {
	color: var(--main_color_footer_link_hover);
	border: none;
}

/* selected link */
footer ul li a:active {
	color: var(--main_color_footer_link_hover);
}

.navbar-custom {
	font-family: 'Open Sans Semi-Bold', sans-serif;
	/* The new syntax needed by standard-compliant browsers (IE 10 and Firefox 10 onwards), without prefix */
	background: var(--main_color_bg_navbar);
	/*border-bottom: 4px solid var(--main_color_bg_boton_primary);*/
	/*background: var(--main-bg-color-navbar);*/
}

.navbar-custom a {
	font-family: 'Open Sans Semi-Bold', sans-serif;
	font-weight: 900;
	font-size: .80rem;
	border: 0 0 0 0;

}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
	color: var(--main_color_navbar_link_hover);
	font-family: 'Open Sans Bold', sans-serif;
	font-weight: 900;
	background-color: transparent;
	font-size: .80rem;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
	color: var(--main_color_navbar_link);
	font-family: 'Open Sans Bold', sans-serif;
	font-size: .80rem;
	font-weight: 900;
	padding: .1rem .1rem .1rem .1rem;
	background-color: transparent;
}

/* change the color of active or hovered links */
.navbar-custom .navbar-nav .show>.nav-link,
.navbar-custom .navbar-nav .active>.nav-link,
.navbar-custom .navbar-nav .nav-link.show,
.navbar-custom .navbar-nav .nav-link.active {
	color: var(--main_color_navbar_link_active);
	border: none;
}

.navbar-custom .navbar-nav .nav-link:focus {
	color: var(--main_color_navbar_link_active);
}

.navbar-custom .navbar-nav .nav-link:hover {
	color: var(--main_color_navbar_link_hover);
	border-bottom: 4px solid var(--main_color_navbar_link);
	border-radius: 5px;
}

/* for dropdown only - change the color of droodown */
/*  */
.navbar-custom .dropdown-menu {
	background-color: var(--main_color_bg_navbar_dwd);
	/*OJOOOOO Revisar el tema de background y color del texto*/
	font-family: 'Open Sans Semi-Bold', sans-serif;
	padding: .1rem .1rem .1rem .1rem;
}

.navbar-custom .dropdown-item {
	color: var(--main_color_navbar_dwd_link);
	font-family: 'Open Sans Semi-Bold', sans-serif;
}

.navbar-custom .dropdown-item:hover,
.dropdown-item:focus {
	color: var(--main_color_navbar_dwd_link_hover);
	font-family: 'Open Sans Semi-Bold', sans-serif;
}

.navbar-custom .dropdown-item.active,
.dropdown-item:active {
	color: var(--main_color_navbar_dwd_link_active);
	background-color: var(--main_color_bg_navbar_dwd);
	font-family: 'Open Sans Semi-Bold', sans-serif;
}

.custom-select {
	font-family: 'Open Sans Semi-Bold', sans-serif;
	/*background-color: var(--main_color_bg_navbar_dwd);
	color: var(--main_color_navbar_dwd_link);*/
	/*border-bottom: 2px solid var(--main_color_navbar_link);  */
}

/* #loader {
	position: fixed;
	left: 0px;
	top:  0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../images/logos/logo_byry.png') 50% 50% no-repeat rgb(249,249,249);
} */

#botonesx {
	clear: both;
	position: fixed;
	left: 0px;
	top: 110px;
	bottom: 0px;
	height: 30px;
	width: 100%;
}

#logo_animation {
	/*color: var(--main_color_link);*/
	background-image: var(--main-logo-bussines);
	background-repeat: no-repeat;
	width: 7%;
	height: 7%;
	position: relative;
	animation-name: logo_animation;
	animation-duration: 3s;
}

@keyframes logo_animation {
	0% {
		left: 100%;
		top: 0px;
		width: 20%;
		height: 20%;
	}

	5% {
		left: 95%;
		top: 0px;
		width: 18%;
		height: 18%;
	}

	10% {
		left: 90%;
		top: 0px;
		width: 16%;
		height: 16%;
	}

	15% {
		left: 85%;
		top: 0px;
		width: 12%;
		height: 12%;
	}

	20% {
		left: 80%;
		top: 0px;
		width: 8%;
		height: 8%;
	}

	25% {
		left: 75%;
		top: 0px;
		width: 2%;
		height: 2%;
	}

	30% {
		left: 70%;
		top: 0px;
		width: 6%;
		height: 6%;
	}

	35% {
		left: 68%;
		top: 0px;
		width: 8%;
		height: 8%;
	}

	40% {
		left: 65%;
		top: 0px;
		width: 12%;
		height: 12%;
	}

	45% {
		left: 60%;
		top: 0px;
		width: 18%;
		height: 18%;
	}

	50% {
		left: 50%;
		top: 0px;
		width: 12%;
		height: 12%;
	}

	60% {
		left: 40%;
		top: 0px;
		width: 9%;
		height: 9%;
	}

	70% {
		left: 30%;
		top: 0px;
		width: 6%;
		height: 6%;
	}

	80% {
		left: 20%;
		top: 0px;
		width: 4%;
		height: 4%;
	}

	100% {
		left: 0%;
		top: 0px;
		width: 1%;
		height: 1%;
	}
}

/*@keyframes logo_animation {
  0%   {color:red; left:100%; top:0px; transform: rotateX(90deg); width: 160px; height: 160px; }
  25%  {color:yellow; left:75%; top:0px;transform: rotateY(180deg);width: 140px; height: 140px; }
  50%  {color:blue; left:50%; top:0px; transform: rotateX(270deg);width: 120px; height: 120px; }
  75%  {color:green; left:25%; top:0px;transform: rotateY(360deg); width: 100px; height: 100px; }
  100% {color:red; left:0%; top:0px;}
input,
button,
select,
optgroup,
textarea {
  font-family: 'Open Sans Extra-Bold', sans-serif !important;
}
h1,h2,h3,h4,h5,h6,p {
  font-family: 'Open Sans Extra-Bold', sans-serif !important;
}
}*/
.text-whatsapp {
	color: #000000;
}

.text-facebook {
	color: #3b5998;
}

.text-twiter {
	color: #00ACEE;
}

.text-instagram {
	color: #e95950;
}

.text-youtube {
	color: #c4302b;
}

.text-email {
	color: #78e1dd;
}

.bg-whatsapp {
	background-color: #000000;
}

.bg-facebook {
	background-color: #3b5998;
}

.bg-twiter {
	background-color: #00ACEE;
}

.bg-instagram {
	background-color: #e95950;
}

.bg-youtube {
	background-color: #c4302b;
}

.bg-email {
	background-color: #78e1dd;
}

.hide {
	display: none;
}

@media only screen and (max-width: 700px) {
	.colonia_search {
		width: 49.99999%;
		margin: 6px 0;
	}
}

@media only screen and (max-width: 500px) {
	.colonia_search {
		width: 100%;
	}
}

.dropdown-toggle-ellipsis::after {
	display: none;
}

/* This is the default state */
.custom-radio .custom-control-label::before {
	background-color: darkorange;
	/* orange */
}

/* This is the checked state */
.custom-radio .custom-control-input:checked~.custom-control-label::before,
.custom-radio .custom-control-input:checked~.custom-control-label::after {
	background-color: rgba(255, 123, 255, 0.25);
	/* green */
	/* this bg image SVG is just a white circle, you can replace it with any valid SVG code */
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8' circle r='3' fill='%23fff'/%3E%3C/svg%3E");
	border-radius: 50%;
}

/* active state i.e. displayed while the mouse is being pressed down */
.custom-radio .custom-control-input:active~.custom-control-label::before {
	color: #fff;
	background-color: rgba(255, 123, 255, 0.25);
	/* red */
}

/* the shadow; displayed while the element is in focus */
.custom-radio custo.m-control-input:focus~.custom-control-label::before {
	box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(255, 123, 255, 0.25);
	/* pink, 25% opacity */
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
	background-color: var(--main_color_bg_boton_secondary);
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='#fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}

.custom-control-input:active~.custom-control-label::before {
	background-color: green;
}

/** focus shadow pinkish **/
.custom-checkbox .custom-control-input:focus~.custom-control-label::before {
	box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem var(--main_color_hover_sombra_boton_primary);
}

.custom-control-input:checked~.custom-control-label::before {
	color: #fff;
	background-color: var(--main_color_navbar_link);
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

/* custom.css */
.custom-select option:hover {
	background-color: #f0f0f0;
	/* Change this to your desired hover background color */
	color: #333;
	/* Change this to your desired hover text color */
	cursor: pointer;
}

/*Estilos del menu  de privilegios*/

.estilo {
	background-color: #88cfe0 !important;
}


:root {
	--bs-gobierno1: #88cfe0;
	--bs-gobierno1-rgb: rgba(136, 207, 224);
	--bs-gobierno2: #949699;
	--bs-gobierno3: #db473c;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 2.5;
	color: #333;
	background-color: #f4f4f4;
	margin: 0;
	padding: 0;
}

.logo {
	border: 2px solid var(--bs-gobierno2);
	/* Borde de 3px de ancho */
	border-radius: 5px;
	/* Bordes redondeados con un radio de 10px */
	margin: 5px;
	/* Espaciado para el contenido dentro de la barra */
	box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
	/* Sombra opcional para profundidad visual */
}

.menu {
	background-color: var(--bs-gobierno1);
	/* color: var(--bs-gobierno2); */
	color: white;
}

.link-body-emphasis {
	color: white !important;
}

.bottom {
	position: fixed;
	bottom: -10;
	width: 100%;
	background-color: #f8f9fa;
	/* Background color for the bottom bar */
	border-top: 4px solid var(--bs-gobierno1);
	/* Optional border for styling */
	padding: 3px 0;
	/* Padding for content inside the bar */
	text-align: center;
	/* Center the content inside the bar */
	box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
	/* Optional shadow for visual depth */
	background-image: url('../images/logos/banner-xiomara.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.active .bs-stepper-circle {
	background-color: var(--bs-gobierno1);
}

.active .bs-stepper-label {
	color: var(--bs-gobierno1);
}

.gobierno1 {
	color: var(--bs-gobierno1);
}

.gobierno2 {
	color: var(--bs-gobierno2);
}

.gobierno3 {
	color: var(--bs-gobierno3);
}

.errortxt {
	position: relative;
	/* Position the input relative to its container */
	color: var(--bs-gobierno3);
	border-color: var(--bs-gobierno3);
	border-width: 3px;
	padding-right: 30px;
	/* Add space for the icon */
}

.errortxt::after {
	content: '❌';
	/* Error icon, you can use a different icon here */
	position: absolute;
	right: 10px;
	/* Position the icon inside the input */
	top: 50%;
	transform: translateY(-50%);
	color: var(--bs-gobierno3);
	/* Same color as the border */
	pointer-events: none;
	/* So the icon doesn't interfere with input */
}

.errorlabel {
	color: var(--bs-gobierno3);
	border-width: 3px;
}

.form-control:focus {
	border-color: var(--bs-gobierno1);
	background-color: #E6E6FA;
	outline: 0;
	box-shadow: 0 0 0 0.25rem rgba(136, 207, 224, 0.25);
}

/********************************LISTA DE BOTONES******************************/

.btn-light {
	background-color: #F5F6F7;
	color: #BDADB5;
	border: 5px solid #BDADB5;
	font-variant: small-caps;
	font-weight: 500;
}

.light {
	color: #ADBDAD;
}

.btn-light:hover {
	background-color: #ADBDAD;
	color: #F5F6F7;
	border: 5px solid #EAECEF;
	-webkit-box-shadow: 12px 12px 5px -3px #ADBDAD;
	-moz-box-shadow: 12px 12px 5px -3px #ADBDAD;
	;
	box-shadow: 12px 12px 5px -3px #ADBDAD;
	;
	font-variant: small-caps;
}

.btn-light:active,
.btn-light:focus {
	background-color: #F5F6F7;
	color: #8B7877;
	border: 5px solid #ADBDAD;
	-webkit-box-shadow: 12px 12px 5px -3px #BDADB5;
	-moz-box-shadow: 12px 12px 5px -3px #BDADB5;
	box-shadow: 12px 12px 5px -3px #BDADB5;
	font-variant: small-caps;
}

.btn-info {
	background-color: #A4EBF9;
	color: #949699;
	border: 5px solid #949699;
	font-variant: small-caps;
	font-weight: 500;

}

.btn-info:hover {
	background-color: #46A5B8;
	color: #D2EDF3;
	border: 5px solid #A4EBF9;
	-webkit-box-shadow: 12px 12px 5px -3px #46A5B8;
	-moz-box-shadow: 12px 12px 5px -3px #46A5B8;
	box-shadow: 12px 12px 5px -3px #46A5B8;
	font-variant: small-caps;
}

.btn-info:active,
.btn-info:focus {
	background-color: #D2EDF3;
	color: #EDA39D;
	border: 5px solid #46A5B8;
	-webkit-box-shadow: 12px 12px 5px -3px #949699;
	-moz-box-shadow: 12px 12px 5px -3px #949699;
	box-shadow: 12px 12px 5px -3px #949699;
	font-variant: small-caps;
}

.btn-warning {
	background-color: #FFE8A2;
	color: #E05E54;
	border: 5px solid #E05E54;
	font-variant: small-caps;
	font-weight: 500;
}

.btn-warning:hover {
	background-color: #949699;
	color: #D2EDF3;
	border: 5px solid #FFE8A2;
	-webkit-box-shadow: 12px 12px 5px -3px #949699;
	-moz-box-shadow: 12px 12px 5px -3px #949699;
	box-shadow: 12px 12px 5px -3px #949699;
	font-variant: small-caps;
}

.btn-warning:active,
.btn-warning:focus {
	background-color: #D2EDF3;
	color: #EDA39D;
	border: 5px solid #949699;
	-webkit-box-shadow: 12px 12px 5px -3px #E05E54;
	-moz-box-shadow: 12px 12px 5px -3px #E05E54;
	box-shadow: 12px 12px 5px -3px #E05E54;
	font-variant: small-caps;
}

.btn-success {
	background-color: #8CC3AA;
	color: #446870;
	border: 5px solid #446870;
	font-variant: small-caps;
	font-weight: 500;
}

.btn-success:hover {
	background-color: #69927F;
	color: #E2F0EA;
	border: 5px solid #8CC3AA;
	-webkit-box-shadow: 12px 12px 5px -3px #69927F;
	-moz-box-shadow: 12px 12px 5px -3px #69927F;
	box-shadow: 12px 12px 5px -3px #69927F;
	font-variant: small-caps;
}

.btn-success:active,
.btn-success:focus {
	background-color: #69927F;
	color: #E2F0EA;
	border: 5px solid #8CC3AA;
	-webkit-box-shadow: 12px 12px 5px -3px #69927F;
	-moz-box-shadow: 12px 12px 5px -3px #69927F;
	box-shadow: 12px 12px 5px -3px #69927F;
	font-variant: small-caps;
}

.btn-primary {
	background-color: #C3DBFF;
	color: #8F7876;
	border: 5px solid #8F7876;
	font-variant: small-caps;
	font-weight: 500;
}

.btn-primary:hover {
	background-color: #637B9F;
	color: #E1EDFF;
	border: 5px solid #C3DBFF;
	-webkit-box-shadow: 12px 12px 5px -3px #637B9F;
	-moz-box-shadow: 12px 12px 5px -3px #637B9F;
	box-shadow: 12px 12px 5px -3px #637B9F;
	font-variant: small-caps;
}

.btn-primary:active,
.btn-primary:focus {
	background-color: #E1EDFF;
	font-size: 16px;
	color: #4677BE;
	border: 5px solid #637B9F;
	-webkit-box-shadow: 12px 12px 5px -3px #8F7876;
	-moz-box-shadow: 12px 12px 5px -3px #8F7876;
	box-shadow: 12px 12px 5px -3px #8F7876;
	font-variant: small-caps;
}

.btn-secondary {
	background-color: #949699;
	color: #88CFE0;
	border: 5px solid #88CFE0;
	font-variant: small-caps;
	font-weight: 500;
}

.btn-secondary:hover {
	background-color: #88CFE0;
	color: #949699;
	border: 5px solid #949699;
	-webkit-box-shadow: 12px 12px 5px -3px #949699;
	-moz-box-shadow: 12px 12px 5px -3px #949699;
	box-shadow: 12px 12px 5px -3px #949699;
	font-variant: small-caps;

}


.btn-secondary:active {
	background-color: #88a3e0;
	color: #f0f9fb;
	border: 5px solid #55818c;
	-webkit-box-shadow: 12px 12px 5px -3px #d2edf3;
	-moz-box-shadow: 12px 12px 5px -3px #d2edf3;
	box-shadow: 12px 12px 5px -3px #d2edf3;
	font-variant: small-caps;
}

.btn-secondary:focus {
	background-color: #c03e35;
	color: #f0f9fb;
	border: 5px solid #55818c;
	-webkit-box-shadow: 12px 12px 5px -3px #d2edf3;
	-moz-box-shadow: 12px 12px 5px -3px #d2edf3;
	box-shadow: 12px 12px 5px -3px #d2edf3;
	font-variant: small-caps;
}

.dt-button.secundaty {
	background-color: #c03e35;
	color: #f0f9fb;
	border: 5px solid #55818c;
	-webkit-box-shadow: 12px 12px 5px -3px #d2edf3;
	-moz-box-shadow: 12px 12px 5px -3px #d2edf3;
	box-shadow: 12px 12px 5px -3px #d2edf3;
	font-variant: small-caps;
}

.btn-danger {
	background-color: #db473c;
	color: #f6d1ce;
	border: 5px solid #f2bab6;
	font-variant: small-caps;
}

.btn-danger:hover {
	background-color: #f6d1ce;
	color: #db473c;
	border: 5px solid #db473c;
	-webkit-box-shadow: 12px 12px 5px -3px #f6d1ce;
	;
	-moz-box-shadow: 12px 12px 5px -3px #f6d1ce;
	;
	box-shadow: 12px 12px 5px -3px #f6d1ce;
	;
	font-variant: small-caps;
}

.btn-danger:active {
	background-color: #db473c;
	color: #e4e5e6;
	border: 5px solid #eda39d;
	-webkit-box-shadow: 12px 12px 5px -3px #d2edf3;
	-moz-box-shadow: 12px 12px 5px -3px #d2edf3;
	box-shadow: 12px 12px 5px -3px #d2edf3;
	font-variant: small-caps;
}

.btn-danger:focus {
	background-color: #db473c;
	color: #e4e5e6;
	border: 5px solid #eda39d;
	-webkit-box-shadow: 12px 12px 5px -3px #d2edf3;
	-moz-box-shadow: 12px 12px 5px -3px #d2edf3;
	box-shadow: 12px 12px 5px -3px #d2edf3;
	font-variant: small-caps;
}

.pb {
	height: .35rem;
	width: 100%;
	background: var(--bs-gobierno2);
	position: fixed;
	top: 60px;

}

.pb_p {
	height: .35rem;
	width: 100%;
	background: var(--bs-gobierno3);
	position: fixed;
	top: 60px;
}

.menu {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
	/* Ensure it is above other elements */
}

.centrar {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.input-icon {
	position: relative;
}

.input-icon input {
	padding-right: 2.5rem;
	/* Adjust padding to make room for the icon */
}

.input-icon .fa-eye {
	position: absolute;
	right: 0.75rem;
	top: 50%;
	transform: translateY(-50%);
	color: #aaa;
	display: none;
}

/* .bs-stepper .line, .bs-stepper-line {
	-ms-flex: 1 0 32px;
	flex: 1 0 32px;
	min-width: 1px;
	min-height: 4px;
	margin: auto;
	background-color:var(--bs-gobierno3);
} */
.unbordered-row {
	text-align: left;
	font-weight: bold;
	padding: 0%;
	margin: 0%;
}

.p-0m-0 {
	text-align: left;
	font-weight: bold;
	padding: 0%;
	margin: 0%;
}

.bordered-row {
	border: 2px solid black;
	text-align: left;
	font-weight: bold;
	padding: 0%;
	margin: 0%;
}

.bordered-row-grey {
	border: 2px solid black;
	background-color: #e0e0e0;
	text-align: left;
	font-weight: bold;
	padding: 0%;
	margin: 0%;
}

.background-top-row-stpc {
	width: 100%;
	height: 125px;
	background-image: url('../images/top_stpc.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.background-middle-row-stpc {
	width: 100%;
	height: 135px;
	background-image: url('../images/enc_stpc.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.background-botton-row-stpc {
	width: 100%;
	height: 940px;
	background-image: url('../images/bottom_stpc.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.background-top-row-stec {
	width: 100%;
	height: 125px;
	background-image: url('../images/top_stec.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.background-middle-row-stec {
	width: 100%;
	height: 135px;
	background-image: url('../images/enc_stec.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.background-botton-row-stec {
	width: 100%;
	height: 900px;
	background-image: url('../images/bottom_stec.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.background-top-row-stpp {
	width: 100%;
	height: 125px;
	background-image: url('../images/top_stpp.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.background-middle-row-stpp {
	width: 100%;
	height: 135px;
	background-image: url('../images/enc_stpp.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.background-botton-row-stpp {
	width: 100%;
	height: 900px;
	background-image: url('../images/bottom_stpp.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.background-top-row-step {
	width: 100%;
	height: 156px;
	background-image: url('../images/top_step.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.background-middle-row-step {
	width: 100%;
	height: 170px;
	background-image: url('../images/enc_step.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.background-botton-row-step {
	width: 100%;
	height: 900px;
	background-image: url('../images/bottom_stec.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.buttom-footer {
	position: fixed;
	bottom: 60px;
	padding: 3px 0;
	/* Padding for content inside the bar */
	text-align: center;
	/* Center the content inside the bar */
}

.form-control-unbordered {
	border: none;
	/* Remove borders */
	box-shadow: none;
	/* Remove box shadow */
	background-color: rgba(255, 255, 255, 0.0);
	/* Fondo blanco transparente */
	border: 2px solid transparent;
	/* Sin sombra */
}

.form-check-input {
	width: 1.5em;
	height: 1.5em;
	border-radius: 0.25em;
	/* Optional: to make the corners less rounded */
}

.form-check-input:checked {
	background-color: var(--bs-gobierno2);
	border: 3.5px solid var(--bs-gobierno1);
	/* Optional: custom border color */
}

.scroll-div {
	position: fixed;
	width: 635px;
	top: 185px;
	/* Ajusta según sea necesario */
	left: 15;
	/* Pegado a la izquierda */
	background-color: #ffffff;
	padding: 20px;
	border: 2px solid var(--bs-gobierno1);
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Styling for the  showtramites button*/
.showtramites {
	display: none;
}

/* Styling for the div */
#rightDiv {
	width: 40px;
	height: 30px;
	position: fixed;
	right: 10;
	top: 50%;
	transform: translateY(-50%);
	/* Centers vertically */
}

#rightDivTR {
	width: 40px;
	height: 30px;
	position: fixed;
	right: 10;
	top: 45%;
	transform: translateY(-45%);
	/* Centers vertically */
}

#rightDivPR {
	width: 40px;
	height: 30px;
	position: fixed;
	right: 10;
	top: 40%;
	transform: translateY(-40%);
	/* Centers vertically */
}

.headTable {
	background-color: var(--bs-gobierno1) !important;
	color: #333 !important;
	font-weight: bold !important;
	border-bottom: 2px solid #333 !important;
}

.titleTable {
	color: var(--bs-gobierno1) !important;
	font-weight: bold;
	text-align: center;
	/* font-size: var(--bs-dropdown-font-size); */
	text-transform: uppercase;
}

.pag_color {
	background-color: #F5F6F7;
	color: #BDADB5;
	border: 5px solid #BDADB5;
	font-variant: small-caps;
	font-weight: 500;
}

/* 
.active > .page-link, .page-link.active {
  z-index: 3;
  color: var(--bs-gobierno1);
  background-color:var(--bs-gobierno2) !important; 
  /* border-color: var(--bs-pagination-active-border-color); */

/* //*select option */

.form-select:focus-visible {
	color: transparent;
	text-shadow: 0 0 0 #328391;
}

.form-select:focus {
	border-color: #8ab4f0;
	outline: 0;
	box-shadow: 0 0 0 .25rem rgba(40, 125, 200, 0.25);
}

.form-select {
	--bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
	display: block;
	width: 100%;
	padding: .375rem 2.25rem .375rem .75rem;
	padding-top: 0.375rem;
	padding-bottom: 0.375rem;
	padding-left: 0.75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #033f4e !important;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: #ececec;
	background-image: var(--bs-form-select-bg-img), var(--bs-form-select-bg-icon, none);
	background-repeat: no-repeat;
	background-position: right .75rem center;
	background-size: 16px 12px;
	border: var(--bs-border-width) solid #a7cdf2;
	border-radius: var(--bs-border-radius);
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control:focus {
	color: var(--bs-body-color);
	background-color: var(--bs-body-bg);
	border-color: #86b7fe;
	outline: 0;
	box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
}

/* /input  */
.form-control {
	display: block;
	width: 100%;
	padding: .375rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #033f4e !important;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: var(--bs-body-bg);
	background-clip: padding-box;
	border: var(--bs-border-width) solid var(--bs-border-color);
	border-radius: var(--bs-border-radius);
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

/* //*paginacion */
.page-link:focus {
	z-index: 3;
	color: #3b5479;
	background-color: #e7e7e7;
	outline: 0;
	box-shadow: var(--bs-pagination-focus-box-shadow);
}

a {
	color: #046e72;
	text-decoration: underline;
}

.page-link {
	position: relative;
	display: block;
	padding: var(--bs-pagination-padding-y) var(--bs-pagination-padding-x);
	font-size: var(--bs-pagination-font-size);
	color: #8d685a !important;
	text-decoration: none;
	background-color: var(--bs-pagination-bg);
	border: var(--bs-pagination-border-width) solid #8D6E63;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.active>.page-link,
.page-link.active {
	z-index: 3;
	color: var(--bs-pagination-active-color);
	background-color: #08485c !important;
	border-color: var(--bs-pagination-active-border-color);
}

.page-link:hover {
	z-index: 2;
	color: var(--bs-pagination-hover-color);
	background-color: var(--bs-pagination-hover-bg);
	border-color: #47728b !important;
}

.text-table {
	color: #08485c !important;
}

.table-secondary {
	--bs-table-color: #5a2f20 !important;
	--bs-table-bg: #e7e7e7 !important;
	/*#e7e7e7*/
	--bs-table-border-color: #84b3e1 !important;
	--bs-table-striped-bg: #e3e7ed !important;
	--bs-table-striped-color: #000 !important;
	--bs-table-active-bg: #cbccce;
	--bs-table-active-color: #000;
	--bs-table-hover-bg: #c2deeb;
	--bs-table-hover-color: #000;
	color: var(--bs-table-color) !important;
	border-color: #84b3e1 !important;
}

.form-check-input {
	--bs-form-check-bg: #cedbe1 !important;
	flex-shrink: 0;

	vertical-align: top;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: var(--bs-form-check-bg);
	background-image: var(--bs-form-check-bg-image);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	border: var(--bs-border-width) solid var(--bs-border-color);
	-webkit-print-color-adjust: exact;
	color-adjust: exact;
	print-color-adjust: exact;
}

.estado_tabla {
	background-color: var(--bs-gobierno1);
	color: #033f4e;
}

.complete {
	color: #046e72;

}

.complete:hover {
	color: #0e2a2b;
}

#searchInput {
	background-color: #e8ebeb;
	border-color: #218496;
	border-width: 2px;
}

/* Cambiar color de los botones de SweetAlert2 */
.swal2-cancel {
	background-color: #d9534f;
	/* Rojo para el botón de desmarcar */
	color: white;
	border: none;
}

.swal2-confirm {
	background-color: #5bc0de;
	/* Azul para el botón de cancelar */
	color: white;
	border: none;
}

.swal2-cancel:hover {
	background-color: #c9302c;
	/* Rojo más oscuro al pasar el mouse */
}

.swal2-confirm:hover {
	background-color: #31b0d5;
	/* Azul más oscuro al pasar el mouse */
}

.a-link {
	text-decoration: none;
	color: #8d685a !important;
}

.borderPlaca {
	width: 100%;
	border: 2.5px solid #08485c;
	color: #08485c;
	/* Definir el borde con color y grosor */
	border-radius: 10px;
	/* Redondeo de los bordes */
	background-color: #ecf3f7;
	/* Color de fondo */
	padding: 8px;
	/* Espacio dentro del borde */
}

.borderPlacaSale {
	width: 100%;
	border: 2.5px solid #d64f4f;
	color: #d64f4f;
	/* Definir el borde con color y grosor */
	border-radius: 10px;
	/* Redondeo de los bordes */
	background-color: #ecf3f7;
	/* Color de fondo */
	padding: 8px;
	/* Espacio dentro del borde */
}

.borderPlacaEntra {
	width: 100%;
	border: 2.5px solid #61af51;
	color: #61af51;
	/* Definir el borde con color y grosor */
	border-radius: 10px;
	/* Redondeo de los bordes */
	background-color: #ecf3f7;
	/* Color de fondo */
	padding: 8px;
	/* Espacio dentro del borde */
}


#est_const {


	color: #08485c;
	/* Color verde */
	font-size: 18px;
	/* Tamaño grande */
	margin: 7px;
	/* Espaciado */
	padding: 4px;
	/* Relleno */
	border: 2px solid #08485c;
	/* Borde verde */
	border-radius: 30%;
	/* Bordes redondeados */
	transition: transform 0.3s ease;
	/* Transición suave al cambiar tamaño */
}

.modal-dialog-tamaño {
	max-height: 90vh !important;
	/* Usa el 90% de la altura de la ventana */
	margin: 1.75rem auto !important;
	/* Asegura que el modal esté centrado */
}

/* 
.modal-content-Tamaño {
	height: 100%;
	/* Asegura que el contenido ocupe toda la altura disponible */

.tablet {
	width: 500px;
	/* El ancho que desees */
	table-layout: fixed;
}

.modal-body-tamaño {
	max-height: 100vh !important;
	/* Limita la altura del cuerpo del modal para que sea más grande verticalmente */
	overflow-y: auto;
	/* Añade scroll si el contenido excede la altura máxima */
}


#est_const:hover {
	transform: scale(1.2);
	/* Aumentar el tamaño cuando se pasa el ratón */
	color: #8d685a;
	/* Cambiar el color al pasar el ratón */
}

.progress {
	background-color: rgba(255, 64, 129, 0.22);
	height: 50px;
	border-radius: 5px;
	font-size: large;
	font-weight: 900;
	text-align: center;
}

.progress .determinate {
	/position: absolute;/ background-color: inherit;
	width: 100%;
	height: 50px;
	border-radius: 5px;
	top: 0;
	left: 0;
	bottom: 0;
	background-color: #043653c9;
	-webkit-transition: width 0.3s linear;
	-moz-transition: width 0.3s linear;
	-o-transition: width 0.3s linear;
	-ms-transition: width 0.3s linear;
	transition: width 0.3s linear
}

/* tabla de las placas */
/* Asegurarse de que las tablas dentro del contenedor tengan el mismo ancho */
.d-flex {
	display: flex;
	justify-content: space-between;
}

.d-flex>div {
	flex: 1;
	/* Hace que ambas tablas ocupen el mismo espacio */
	margin: 0 10px;
	/* Margen entre las tablas */
}

.table {
	width: 100%;
	/* Las tablas deben ocupar todo el ancho del contenedor */
	/* table-layout: fixed; */
	/* Forzar un ancho fijo para todas las columnas */
}

.tableObjeto {
	width: 100% !important;
	/* Las tablas deben ocupar todo el ancho del contenedor */
	table-layout: fixed !important;

}

.tableObjeto .filas-tramite td {
	width: 100%;
	table-layout: fixed !important;
}


.table th,
.table td {
	text-align: left;
	padding: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	/* Centra horizontalmente */
	vertical-align: middle;
	/* Centra verticalmente */
}



/* input de busqueda  */
/* Tamaño inicial pequeño del input y transición */
.input-prefetch {
	font-size: 14px;
	padding: 5px;
	width: 0;
	/* Inicia con un ancho de 0 */
	opacity: 0;
	/* Empieza invisible */
	transition: all 0.3s ease;
	/* Transición suave */
}

/* Cuando el campo se expanda */
.input-prefetch.expanded {
	width: 200px;
	/* Ancho del input cuando se expanda */
	opacity: 1;
	/* El input se vuelve visible */
}

/* Lupa siempre visible */
#search-btn {
	cursor: pointer;

}

.fas.fa-search-location {
	font-size: 18px;
	/* Ajusta el tamaño del ícono */
}

.input-prefetch {
	color: #00ACEE;
	border-color: var(--bs-gobierno1);
	outline: 0;
	box-shadow: 0 0 0 0.25rem rgba(136, 207, 224, 0.25);
}

.dolar-span {
	display: inline-flex;
	width: auto;
	height: 33px;
	border-radius: 8px;
	border: 2px solid #e05a5a;
	/* Rojo */
	background-color: #d43b3b;
	/* Rojo más oscuro */
	padding: 2px 9px;
	text-align: center;
	justify-content: center;
	align-items: center;
	transition: all 0.3s ease;
	cursor: pointer;
	position: relative;
	color: white;
}

.dolar-span-text {
	color: #e05a5a;
}

/* Cambios cuando se pasa el cursor */
.dolar-span:hover {
	border-color: #b82f2f;
	/* Rojo más oscuro */
	background-color: #f08080;
	/* Rojo claro */
}

/* Muestra el tooltip cuando el cursor está sobre el span */
.dolar-span:hover::after {
	opacity: 1;
	visibility: visible;
}


/* //*cuando esta activo el pago se mostrara en verde */
/* Estilo cuando se pasa el cursor sobre el span */
.dolar-span-activo {
	display: inline-flex;
	width: auto;
	height: 33px;
	border-radius: 8px;
	border: 2px solid #5fcc9b;
	background-color: #30b376;
	padding: 2px 9px;
	text-align: center;
	justify-content: center;
	align-items: center;
	transition: all 0.3s ease;
	cursor: pointer;
	position: relative;
	color: white;
}

.dolar-span-activo-text {
	color: #30b376;
}

/* Cambios cuando se pasa el cursor */
.dolar-span-activo:hover {
	border-color: #198754;
	background-color: #a1f8d1;
	/* color:black; */
}

/* Muestra el tooltip cuando el cursor está sobre el span */
.dolar-span-activo:hover::after {
	opacity: 1;
	/* Hace visible el tooltip */
	visibility: visible;
	/* Lo hace visible */
}

.fondoAccion {
	background-color: rgb(240, 234, 234);
	margin: 0px;
	padding: opx;
}

/* Estilo cuando se pasa el cursor sobre el span */


/*  */


.input-container {
	position: relative;
	display: inline-block;
}

.input-container input {
	padding-right: 2.5rem;
	/* Space for the icon */
	width: 40px;
	/* Small width initially */
	transition: width 0.5s ease;
	/* Smooth transition */
	font-size: 1rem;
	box-sizing: border-box;
	font-weight: bold;
	/* Hace el texto en negrita */
	color: #003366;
	text-transform: uppercase;/
}

.input-container input.expanded {
	width: 180px;
	/* Larger width when expanded */
}

.input-container .fas {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	color: var(--bs-gobierno1);
	cursor: pointer;
}

.ui-menu-item {
	font-weight: bold;
	/* Hace el texto en negrita */
	color: #003366;
	/* Color azul marino */
	text-transform: uppercase;/
}

#toggle-icon {
	font-size: 25px;
	/* Ajusta este valor según sea necesario */
}

/* Customizing the tooltip */
.tooltip-inner {
	background-color: var(--bs-gobierno1) !important;
	/* Change to your desired color */
	color: #fcfdfd !important;
	/* Change text color */
	font-weight: bold;
}

.tooltip-arrow::before {
	background-color: var(--bs-gobierno1) !important;
	/* Match the arrow color with the tooltip */
}

/* Tooltip en verde solo cuando el span tiene la clase tooltip-verde */
.tooltip-verde+.tooltip>.tooltip-inner {
	background-color: #198754 !important;
}

.tooltip-verde+.tooltip>.tooltip-arrow::before {
	background-color: #198754 !important;
}

.cancelar {
	color: #dd411a !important;
	/* Color más oscuro para el icono */
}

.cancelar:hover {
	color: #a02405 !important;
	/* Color más oscuro para el icono */
}


.inadmitido {
	color: #FFC107 !important;
	/* Color más oscuro para el icono con la clase fa-ban */
}


.inadmitido:hover {
	color: #836c29 !important;
	/* Color más oscuro para el icono con la clase fa-ban */
}

.compartiendo {
	color: #007bff !important;
	/* Azul primario */
	text-align: center;
}

.compartiendo:hover {
	color: #0056b3 !important;
	/* Azul más oscuro al pasar el mouse */
	text-align: center;
}

.noCompartido {
	color: #6c757d !important;
	/* Gris neutral */
	text-align: center;
}

.noCompartido:hover {
	color: #343a40 !important;
	/* Gris más oscuro al pasar el mouse */
	text-align: center;
}

.toastify {
	display: flex !important;
	visibility: visible !important;
	opacity: 1 !important;
}

.full-width {
	width: 100% !important;
	/* Make it take full width */
	max-width: 1000px;
	/* Optional: Limit width */
	margin: auto;
	text-align: center;
	justify-content: center;
}

.thirth-width {
	width: 100% !important;
	/* Make it take full width */
	max-width: 600px;
	/* Optional: Limit width */
	margin: auto;
	text-align: center;
	justify-content: center;
}

.fade-out {
	opacity: 0;
	transition: opacity 5.00s ease;
}

@keyframes highlight {
	0% {
		font-size: 18px;
		/* Original size */
		color: rgb(160, 158, 158);
		/* Original color */
	}

	10% {
		font-size: 24px;
		/* Enlarged size */
		color: rgb(132, 174, 236);
		/* Changed color */
	}

	50% {
		font-size: 22px;
		/* Enlarged size */
		color: rgb(132, 174, 236);
		/* Changed color */
	}

	90% {
		font-size: 18px;
		/* Keep the enlarged size */
		color: rgb(10, 10, 10);
		/* Keep the changed color */
	}

	100% {
		font-size: 1.5rem;
		/* Return to original size */
		color: var(--bs-gobierno1);
		/* Return to original color */
	}
}

.animate-highlight {
	animation: highlight 12s forwards;
}

/* Efecto de resaltado: cambio de color de fondo y escalado */
@keyframes highlightEffect {
	0% {
		transform: scale(1);
		background-color: transparent;
	}

	25% {
		transform: scale(1.1);
		background-color: #ffeb3b;
		/* un amarillo suave */
	}

	50% {
		transform: scale(1.1);
		background-color: #ffc107;
		/* un tono un poco más intenso */
	}

	75% {
		transform: scale(1.05);
		background-color: #ffeb3b;
	}

	100% {
		transform: scale(1);
		background-color: transparent;
	}
}

@keyframes highlightEffectGris {
	0% {
		transform: scale(1);
		background-color: transparent;
	}

	25% {
		transform: scale(1.1);
		background-color: #d3c8ca;
		/* un amarillo suave */
	}

	50% {
		transform: scale(1.1);
		background-color: #9e9797;
		/* un tono un poco más intenso */
	}

	75% {
		transform: scale(1.05);
		background-color: #464040;
	}

	100% {
		transform: scale(1);
		background-color: transparent;
	}
}


@keyframes highlightEffectRed {
	0% {
		transform: scale(1);
		background-color: transparent;
	}

	25% {
		transform: scale(1.1);
		background-color: #f9607c;
		/* un amarillo suave */
	}

	50% {
		transform: scale(1.1);
		background-color: #ed434c;
		/* un tono un poco más intenso */
	}

	75% {
		transform: scale(1.05);
		background-color: #e62626;
	}

	100% {
		transform: scale(1);
		background-color: transparent;
	}
}

.highlight {
	animation: highlightEffect 13s ease-out;
}

.highlightGris {
	animation: highlightEffectGris 9s ease-in-out;
}

.highlightRed {
	animation: highlightEffectRed 6s ease-in;
}


.animate__delay-3s {
	animation-delay: 3s;
}

.animate__delay-6s {
	animation-delay: 6s;
}

.particle {
	position: fixed;
	font-size: 2.5rem;
	pointer-events: none;
	user-select: none;
	z-index: 1000;
	opacity: 1;
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.2);
	}

	100% {
		transform: scale(1);
	}
}

.pulse-icon {
	display: inline-block;
	animation: pulse 1.5s ease-in-out infinite;
}

/* Sidebar */
.sidebar {
	width: 40%;
	min-width: 250px;
	overflow-y: auto;
	/* Scrollable */
	transition: width 0.3s ease-in-out;
}

.collapsed {
	width: 0;
	padding: 0;
	overflow: hidden;
}

/* Main Content */
.contentido {
	flex-grow: 1 !important;
	width: 60%;
	padding: 20px;
	transition: margin-left 0.3s ease-in-out;
}

/* Toggle Button */
.toggle-btn {
	position: absolute;
	top: 20px;
	left: 20px;
	background: #ff9800;
	color: white;
	padding: 10px 15px;
	border: none;
	cursor: pointer;
}


:root {
	--bs-gobierno1: #88cfe0;
	--bs-gobierno1-hover: #6bb6cc;
	/* un poco más oscuro */
	--bs-gobierno2: #949699;
	--bs-gobierno3: #db473c;
	--bs-gobierno3-hover: #c03e35;
	/* un poco más oscuro */
}

.badge {
	display: inline-block;
	padding: 0.35em 0.75em;
	border-radius: 0.5em;
	font-size: 0.85em;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
	line-height: 1.2;
	transition: background-color 0.3s, color 0.3s;
}

/* SI */
.badge-si {
	background-color: var(--bs-gobierno1);
	color: #fff;
	border: 1px solid var(--bs-gobierno1);
}

.badge-si:hover {
	background-color: var(--bs-gobierno1-hover);
}

/* NO */
.badge-no {
	background-color: var(--bs-gobierno3);
	color: #fff;
	border: 1px solid var(--bs-gobierno3);
}

.badge-no:hover {
	background-color: var(--bs-gobierno3-hover);
}

.eliminar-ram {
	color: rgb(214, 6, 6);
	font-size: 2rem;
	transition: filter 0.2s ease;
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
}

.eliminar-ram:hover {
	filter: brightness(80%);
}

.eliminar-ram span {
	font-size: 0.9rem;
	margin-top: 4px;
}

#modalPlaca {
	z-index: 1065;
	/* por encima del default 1055 */
}

.modal-backdrop.show:nth-of-type(2) {
	z-index: 1060;
}

.fila-en-div {
	min-width: 100%;
	/* Asegura que padding no sume al ancho */
	display: block;
	border: 0px solid transparent;
	/* o grid si lo necesitás */
	/* justify-content: space-between; */
	/* Opcional: para separar columnas */
}

.form-container {
	background-color: #c4bdbd;
	padding: 30px;
	border-radius: 12px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	max-width: 500px;
	margin: auto;
}

label {
	font-weight: bold;
	margin-bottom: 10px;
}

#idFechaGrafico {
	border-radius: 8px;
	padding: 10px;
	color: #003366
}

#idRowPrincipal {
	background-color: #ece5e5;
	border-radius: 6px;
	border: solid;
	border-color: var(--bs-gobierno1);
}

.cuadrado {
	display: inline-block;
	padding: 0.35em 0.75em;
	border-radius: 0.5em;
	font-size: 0.85em;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
	line-height: 1.2;
	transition: background-color 0.3s, color 0.3s;
	background-color: var(--bs-gobierno1);
	color: #fff;
	border: 1px solid var(--bs-gobierno1);
	/* width: 20px;
	height: 10px;
	padding: 3px; */
}

.total {
	font-weight: bold;
	margin-right: 5px;
	color: var(--bs-gobierno1);
}

.pagadas {
	font-weight: bold;
	margin-right: 5px;
	color: #30b376;
}

.total:hover {
	font-weight: bold;
	margin-right: 5px;
	color: var(--bs-gobierno1);
}

.pagadas:hover {
	font-weight: bold;
	margin-right: 5px;
	color: #5fcc9b;
}

/* NO */

/* background-color: #5fcc9b;

	border: 1px solid  #30b376;

	background-color: #5bdda0; */

/* para las concesiones y tramites */
.badge {
	display: inline-block;
	padding: 0.30em 0.70em;
	border-radius: 0.5em;
	font-size: 0.80em;
	font-weight: 500;
	text-align: center;
	text-transform: uppercase;
	line-height: 1.2;
	transition: background-color 0.3s, color 0.3s;
}

/* SI */
.concesion {
	background-color: #8d685a;
	color: #fff;
	border: 1px solid #8d685a;
}

.concesion:hover {
	background-color: #c78c88
}
/* NO */
.tramites {
	background-color: #5a7f8d;
	color: #fff;
	border: 1px solid #5a7f8d;
}
.tramites:hover {
	background-color: #7c9fb8
}
.toast-con-avatar {
  	display: flex;
	align-items: center;    /* vertical */
	justify-content: center; /* horizontal */
	gap: 12px;
}
.toast-con-avatar .toastify-avatar {
  align-self: center !important;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  object-fit: cover;
}